.Contact {
    cursor: pointer;
    display: flex;
    justify-content: center; 
}

.Contact a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.Icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: #616161;
}

.Text {
    color: #616161;
    text-transform: uppercase;
    border-bottom: 1px dashed;
    white-space: nowrap;
}