:root {
    --header-height: 60px
}

.Header {
    top: 0;
    position: sticky;
    height: var(--header-height);
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-top: none;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.HiddenStart {
    width: 196px;
    height: 60px;
    display: flex;
    visibility: hidden;
}

.Logo {
    height: 100%;
}

.Contact {
    display: flex;
    padding: 0 24px;
}

.DrawerToggle {
    display: none;
}

.HiddenEnd {
    display: none;
}

@media (max-width: 500px) {
    .HiddenStart {
        display: none;
    }

    .DrawerToggle {
        display: flex;
    }
    
    .Contact {
        display: none;
    }

    .HiddenEnd {
        width: 60px;
        height: 60px;
        display: flex;
        visibility: hidden;
    }
}