.Footer {
    background-color: #444444;
    color: #ffffff;
    padding: 44px 62px;
}

.Footer h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 60px;
}

.Description {
    margin-bottom: 44px;
}

.Description p {
    color: #DDDDDD;
    font-weight: 100;
}

.Actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.Button {
    order: 2;
}

.Button {
    transform: translatex(76px);
}

.Navigation {
    order: 1;
}

.Navigation a {
    margin-right: 8px;
    color: #DDDDDD;
}

.Navigation a:hover {
    color: #DB1818;
    transition: all 0.2s ease-in;
}

.Social {
    order: 3;
    align-items: center;
    display: flex;
}

.Social svg {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    fill: white;
    cursor: pointer;
}

.Social svg:hover {
    fill: #DB1818;
    transition: all 0.2s ease-in;
}

.Copyright {
    text-align: center;
    color: #7C7C7C;
}

@media(max-width: 900px) {
    .Footer {
        padding: 22px 30px;
    }

    .Footer h2 {
        margin-bottom: 30px;
    }

    .Actions{
        flex-direction: column;
    }

    .Button {
        order: 1;
        margin-bottom: 20px;
    }

    .Button {
        transform: none;
    }

    .Navigation {
        margin-bottom: 20px;
    }

    .Social span {
        display: none;
    }
}