.NavigationItem {
    margin: 0 5px;
    text-transform: uppercase;
}

.NavigationItem a {
    text-decoration: none;
    color: #717171;
    transition: all .2s ease-in;
}

.NavigationItem a:active,
.NavigationItem a:hover {
    color: #DB1818;
}

.NavigationItem a:active {
    border-bottom: #DB1818 solid 4px;
}