:root {
    --header-height: 60px;
}

.Header {
    top: 0;
    position: sticky;
    height: var(--header-height);
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-top: none;
    z-index: 1000;
    display: flex;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.Sticky {
    display: flex;
}

.Logo {
    padding: 0 15px;
    align-self: center;
    height: 30px;
    width: 30px;
}

.CompanyName {
    color: #0F8C90;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 60px;
    padding: 0 70px;
    border-right: 1px solid #E8E8E8 ;
    border-left: 1px solid #E8E8E8;
}

.CompanyName p {
    margin: 0;
}

.Hidden {
    display: none;
}

.NonSticky {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
}   

.Navigation {
    margin: auto 0;
    padding: 0 45px;
}

.Help {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

.Contact {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

.RedBox {
    background-color: #DB1818;
    width: 200px;
    position: relative;
}

.RedBox::before {
    content: "";
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 15px solid #ffffff;
    border-top: 30px solid transparent;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    transform: rotate(180deg);
}

.Support  {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

.Support span {
    color: white;
    fill: white;
}

@media (max-width: 930px) {
    .Header {
        height: 120px;
        flex-direction: column;
        position: static;
        border: none;
        box-shadow: none;
    }

    .Sticky {
        width: 100%;
        justify-content: space-between;
        background-color: #F9F9F9;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
    }

    .CompanyName {
        border: none;
    }

    .Hidden {
        height: 60px;
        width: 60px;
        display: flex;
        visibility: hidden;
    }

    .NonSticky {
        margin-top: 60px;
        height: 60px;
        align-items: center;
    }
}

@media (max-width: 720px) {
    .Header {
        height: 180px;
    }

    .NonSticky {
        flex-direction: column;
    }

    .Navigation {
        order: 2;
        padding: 20px 0;
        margin: 0 auto;
    }

    .Help {
        height: 60px;
        order: 1;
        width: 100%;
    }

    .GreyBox {
        background-color: #8D8B8C;
        width: 50%;
    }

    .Contact span {
        color: white;
        fill: white;
    }

    .RedBox {
        width: 50%;
    }

    .RedBox::before {
        border-right: 15px solid #8D8B8C;
    }
}