.Categories {
    color: #717171;
    height: 460px;
    background-color: #f2f2f2;
    padding-top: 50px;
}

.Categories h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: 400;
}

.Slider {
    width: 90.7%;
    margin: 0 auto;
}

.Slider button {
    color: #A5A5A5;
    top: 50%;
}

@media(max-width: 1024px) {
    .Slider button {
        font-size: 0;
    }
}

@media(max-width: 775px) {
    .Categories {
        height: 400px;
        padding-top: 30px;
    }
    
    .Categories h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

@media(max-width: 480px) {
    .Categories {
        height: 340px;
        padding-top: 20px;
    }
    
    .Categories h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}